<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>RPS+</title>
    <link rel="stylesheet" href="css/theme.css">
    <style>
    
    </style>
</head>
<body>
	<h1><span class="rock">Rock</span> <span class="paper">Paper</span> <span class="scissors">Scissors</span></h1>

	<h2>Existing Games</h2>
	<ul class="listview">
		<li class="waiting"><a href="picks.html">Series 1 <span>(2-1-0)</span></a></li>
		<li class="ready"><a href="picks.html">Series 2 <span>(2-1-0)</span></a></li>
		<li><a href="picks.html">Series 3 <span>(2-1-0)</span></a></li>
		<li><a href="picks.html">Series 4 <span>(2-1-0)</span></a></li>
		<li><a href="picks.html">Series 5 <span>(2-1-0)</span></a></li>			
	</ul>	
	
	<h2>New Challenge</h2>		
		
		
</body>
</html>