* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin-left: 1em;
	margin-right: 1em;
}

a:link, a:visited {
	color: #C3C3C3;
}

body {
	padding: 0;
	margin: 0;
	background: #4b4b4b;
	color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

h1 {
	text-align: center;
	color: #fff;
}

h1 .rock {
	font-weight: 800;
}

h1 .paper {
	font-weight: 500;
	font-style: italic;
}

h1 .scissors {
	font-weight: 200;
}

.login {
	background: rgba(58, 196, 207, .6);
	margin: 10% auto 1%;
	padding: 4% 2%;
	border-radius: 10px;
	max-width: 500px;
}
.sign-up {
	margin: 0 auto;
	text-align: right;
	max-width: 500px;
}

input[type='text'],
input[type='password'] {
	display: block;
	width: 92%;
	margin:  2%;
	height: 2em;
	border: none;
	padding: .5em;
	font-size: 1.2em;
}

input[type='submit'] {
	margin: 2%;
	width: 96%;
	height: 2em;
	padding: .5em;
	font-size: 1.2em;
}



.listview {
	list-style: none;
	padding: 0;
}

.listview li {
	background: rgba(0,0,0,.5);
	line-height: 1.5em;
	padding: .4em 2em;
	border-bottom: solid 1px rgba(255,255,255,.5);
}

.listview li a {
	display: block;
	text-decoration: none;
}

.listview li.waiting a {
	color: rgba(255,255,255,.2);
}

.listview li span {
	float: right;
	font-size: .9em;
}




.picks {
	text-align: center;
}

.picks h3 {
	margin: 0;
}

.card {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	background: red;
	margin-bottom: 1em;
}
.card.rock {background: #fb5f81;}
.card.paper {background: #3ac4cf;}
.card.scissors {background: #c3c3c3;}
.card select {margin-top: 40px;}


